.pre__card {
  height: 590px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px 10px rgb(255, 170, 72);
  /* inset 0 0 0 0 20px rgb(255, 137, 69); */
}

.score_cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pre__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0, inset #333 0 0 0 2px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 4px;
  margin: 10px;
  border-radius: 50%;
  margin-bottom: 25px;
  background-size: cover;
}

.pre__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.post__title {
  margin-bottom: 30px;
  font-size: 50px;
}

.pre__btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 80px;
  width: 150px;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.07);
  box-shadow: rgba(0, 0, 0, 0.66) 0 6px 20px 0;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0;
  height: 120px;
  width: 200px;
  padding: 20px;
  margin: 15px;
  background-color: #fff;
}

.submit_label {
  margin: 10px;
}

.submit_input {
  height: 15px;
  width: 100px;
  padding: 5px;
  margin: 5px;
  float: right;
  border: none;
  box-shadow: 1px 1px 5px #333;
  border-radius: 5px;
  transition: border 0.3s ease;
  outline: none;
}

.submit_input:focus {
  border-bottom: 1px solid #000;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  padding: 20px;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0;
}

.cta-text {
  font-size: 20px;
  text-align: center;
}

.cta-link {
  text-decoration: none;
}

.cta-button {
  height: 40px;
  width: 70px;
  font-size: 15px;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .pre__card {
    height: 640px;
    width: 900px;
  }
}

@media (max-width: 900px) {
  .pre__card {
    height: 640px;
    width: 650px;
    border-radius: 30px;
  }
}

@media (max-width: 425px) {
  .pre__card {
    height: 540px;
    width: 330px;
    border-radius: 30px;
  }

  .pre__logo {
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
  }

  .post__title {
    margin-bottom: 15px;
    font-size: 24px;
  }

  .pre__btn-container {
    flex-direction: column;
  }

  .button {
    height: 50px;
    width: 100px;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 200px;
    padding: 20px;
  }

  .cta-text {
    font-size: 16px;
    text-align: center;
  }

  .cta-link {
    text-decoration: none;
  }

  .cta-button {
    height: 40px;
    width: 70px;
    font-size: 15px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 5px 10px 0;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .submit {
    height: 150px;
    width: 250px;
    padding: 10px;
  }

  .submit_label {
    font-size: 16px;
  }

  .submit_input {
    max-height: 20px;
    font-size: 16px;
    max-width: 100px;
    padding: 5px;
  }
}

@media (max-width: 320px) {
  .pre__card {
    height: 450px;
    width: 280px;
    border-radius: 30px;
  }

  .pre__logo {
    height: 100px;
    width: 100px;
    margin-bottom: 40px;
  }

  .pre__img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  .post__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .pre__btn-container {
    flex-direction: column;
  }

  .button {
    height: 50px;
    width: 100px;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
  }

  .cta {
    height: 100px;
    width: 200px;
    padding: 5px;
  }
  .cta-text {
    font-size: 14px;
    text-align: center;
  }

  .cta-link {
    text-decoration: none;
  }

  .cta-button {
    height: 40px;
    width: 70px;
    font-size: 12px;
    border-radius: 12px;
    padding: 5px;
    margin: 5px;
  }

  .submit {
    height: 130px;
    width: 200px;
    padding: 10px;
  }

  .submit_label {
    font-size: 16px;
    margin: 10px;
  }

  .submit_input {
    max-height: 16px;
    font-size: 16px;
    max-width: 100px;
    padding: 5px;
    margin: 5px;
  }
}
